body{
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}
select{
  -webkit-appearance: menulist-button;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: grey;
  height: 100%;
}
.container-fluid {
	text-align: center;
}
.row, .row-sm{
  display: flex;
  align-items: center;
}

.col-sm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pension, .welfare, .healthcare, .defense, .education, .transport{
  padding: 25px;
}
.pension {
	background-color: #F0F8FF;
}

.welfare {
	background-color: #6495ED;
}

.healthcare {
	background-color: #E6E6FA;
}

.defense {
	background-color: #FAF2CD;
}

.education {
	background-color: #ED7BB4;
}

.transport {
  background-color: #D9FAE6;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  border: 5px solid black;
  padding: 200px 100px;
}

.text {
  font-size: 20px;
}

p{
  font-size: 25px;
  padding-left: 20px;
  text-align: left;
}
.content .description { display: none;
margin-bottom: .5rem;
font-family: inherit;
font-weight: 500;
line-height: 1.2;
color: inherit; }
.content:hover .title { display: none;
margin-bottom: .5rem;
font-family: inherit;
font-weight: 500;
line-height: 1.2;
color: inherit; }
.content:hover .description { display: inline; }

