
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}


select{
  -webkit-appearance: menulist-button;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: grey;
  height: 100%;
}

/* stylesheet for your custom graph */
#canvas-svg{
  float: left;
}
.states {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
}

.states-choropleth {
  fill: #ccc;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}
